<div class="complexity-slider-container">
  <div class="slider-header">
    <h3>{{ 'COMPLEXITY_SLIDER.COOKING_SKILL_LEVEL' | translate }}</h3>
    <div class="current-level">
      <span class="level-label">{{ getCurrentLevel().label }}</span>
      <span class="level-description">{{ getCurrentLevel().description }}</span>
    </div>
  </div>

  <div class="slider-wrapper">
    <div class="slider-track">
      <input 
        type="range" 
        min="1" 
        max="5" 
        step="1"
        [value]="value"
        (input)="onSliderChange($event)"
        class="complexity-range"
      />
      <div class="slider-labels">
        <div 
          *ngFor="let level of complexityLevels" 
          class="slider-label"
          [class.active]="level.level === value"
        >
          <div class="label-icon">{{ level.label.split(' ')[0] }}</div>
          <div class="label-text">{{ level.label.substring(level.label.indexOf(' ') + 1) }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="difficulty-indicators">
    <div class="indicator-row">
      <span class="indicator-label">{{ 'COMPLEXITY_SLIDER.RECIPE_COMPLEXITY' | translate }}</span>
      <div class="difficulty-dots">
        <div 
          *ngFor="let i of [1,2,3,4,5]" 
          class="dot"
          [class.filled]="i <= value"
        ></div>
      </div>
    </div>
    
    <div class="skill-hints">
      <div *ngIf="value === 1" class="hint">
        {{ 'COMPLEXITY_SLIDER.HINT_1' | translate }}
      </div>
      <div *ngIf="value === 2" class="hint">
        {{ 'COMPLEXITY_SLIDER.HINT_2' | translate }}
      </div>
      <div *ngIf="value === 3" class="hint">
        {{ 'COMPLEXITY_SLIDER.HINT_3' | translate }}
      </div>
      <div *ngIf="value === 4" class="hint">
        {{ 'COMPLEXITY_SLIDER.HINT_4' | translate }}
      </div>
      <div *ngIf="value === 5" class="hint">
        {{ 'COMPLEXITY_SLIDER.HINT_5' | translate }}
      </div>
    </div>
  </div>
</div>